/* Importation du fichier fonts.css*/
@import "fonts.css";


* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    color: #011627;
    background-color: #fdfffc;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #e71d36;
    text-decoration: none;
}

h1,
h2,
h3,
h4
{
    font-family: 'Changa One', serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin: 0 0 1em 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0 0 .75em 0;
}

p {
    line-height: 1.5;
}

/********** ENTÊTE DU SITE **********/
header {
    text-align: center;
    background-color: #011627;
    padding-top: 5px;
    margin-bottom: 30px;
}

header .nom {
    color: #2ec4b6 ;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 0.8;
    margin: 1rem 0;
}

header .metier {
    margin-top: -5px;
}

header nav {
    padding: 10px 0;
    margin-top: 20px;
}

header nav ul {
    padding: 0;
    margin: 0 10px;
}

header nav ul li {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}
/* Cache le 1er li de la ul */
header nav ul li:first-child {
    display: none;
}

header nav ul li a {
    color: #fdfffc;
    font-weight: 800;
    padding: 15px 10px;
}

header nav ul li a:hover {
    color: #2ec4b6 ;
}
/********** CONTENU PRINCIPAL DU SITE *********/
main {
    margin: 0 5%;
}

/********** PIED DE PAGE DU SITE **********/
footer {
    padding-top: 50px;
    text-align: center;
}

footer nav ul {
    padding: 0;
}

footer nav ul li {
    list-style-type: none;
    display: inline-block;
}

footer nav ul li img {
    width: 50px;
    margin: 0 15px;
    filter: grayscale(1);
    transition: filter 500ms linear;
}

footer nav ul li img:hover {
    width: 150px;
    filter: grayscale(0);
}

/********* PAGE CONTACT *********/
.page-contact .contact-info {
    list-style-type: none;
    padding: 0;
}

.page-contact .contact-info li {
    margin-bottom: .5em;
}

.page-contact .contact-info li a {
    padding-left: 30px;

    background-image: url("../img/mail.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 0 -1px; /* 0 de la gauche 2px du haut */
}
/* ^= qui commence par */
.page-contact .contact-info li a[href^="tel:"] {
    background-image: url("../img/phone.png");
}
/* *= qui contient */
.page-contact .contact-info li a[href*="facebook"] {
    background-image: url("../img/facebook.png");
}

.page-contact .contact-info li a[href*="twitter"] {
    background-image: url("../img/twitter.png");
}

/******** PAGE INFOS *********/
/* Photo de Laure */
.page-info .portrait {
    border-radius: 50%;
    border-top-right-radius: 20px;
    max-width: 200px;
    /* Pour centrer */
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.page-info h1 {
    text-align: center;
}

/******** PAGE ACCUEIL *********/

.page-accueil .realisations {
    /* Supprimer style de base de la liste à puce */
    padding: 0; /* Supprimer la marge par défaut des listes*/
    list-style-type: none; /* Supprime les puces */

    /* Active Flex */
    display: flex;
    flex-direction: row; /* Affichage en colonne */
    flex-wrap: wrap; /* Active le retour à la ligne */

    /* Alignement des éléments */
    justify-content: center;
    align-items: center;
    align-content: center;
}

.page-accueil .realisations li {
    padding: 1rem 1%;
    flex-basis: calc(50%); /* Taille des éléments */
    flex-grow: 2; /* Peut prendre la place de deux éléments si libre */
    flex-shrink: 1; /* Au minimum doit faire la tailler de 1 col */
}

.page-accueil .realisations li a {
    color: #011627;
}

.page-accueil .realisations li figure {
    margin: 0; /* Supprime la marge par défaut des <figure> */
    background-color: #e7e9eb;
}

.page-accueil .realisations li figcaption {
    padding: 10px;
}

@media screen and (min-width: 480px) {

    .page-accueil .realisations li {
        flex-basis: calc(33%); /* Taille des éléments */
    }

} /* Fin min-width: 480px */

@media screen and (min-width: 780px) {

    .page-accueil .realisations li {
        flex-basis: calc(25%); /* Taille des éléments */
    }

} /* Fin min-width: 480px */





